
@media screen and (max-width:900px) {

    body {
        background: #EDEDEE;
    }
}

@media screen and (max-width:780px) {

    .wrapper {

        grid-template-columns: minmax(200px, 1fr);
        grid-template-areas: "header"
                              "main"
                              "aside"
                              "footer";
    }
    
    main {
        padding-right:20px;
    }

.navigation.nav-footer {
    flex-direction:column;

    & > a {
        margin:0;
        margin-bottom:10px;
    }
}

}

@media screen and (max-width:680px) {


    .header-right-top .socials,
    .header-right .navigation,
     {
     
        display:none;
    }

.header-search .search-field {
    visibility:hidden;
}

.header {
    flex-wrap: wrap;
}

#hamburger {
    display:block;
}


.header .logo {
    order:3;
    margin-top: 20px;
    margin-left: 40%;
}

}

@media screen and (max-width:540px) {

.wrapper {

    grid-template-columns: minmax(150px, 1fr);

    }
 main, aside {
     padding:0;
 }

 

.footer {
        flex-direction: column-reverse;
        text-align: center;

        &-right {
            margin-bottom:20px;
        }
    }
.nav-footer {
    display:none;
}
}

@media screen and (max-width:340px) {
    .header-search .search-field {
        width: 30px;
    }
}