aside {
    grid-area: aside;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.author {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    &-photo {
    height:150px;
    width:150px;
    border-radius: 50%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    border:1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
    background-color: $darkestColor;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.btn {
    margin-top:20px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background-color: $primaryColor;
}