.header {
    background-color: #fff;
    border-bottom:1px solid lightgrey;
    box-shadow: 0px 2px 2px lightgrey;
    grid-area: header;
    display:flex;
    justify-content: space-between;
    padding: 20px;

    &-right {
        display:flex;
        flex-direction:column;
        justify-content: space-around;

        &-top {
            display:flex;
            justify-content: space-between;
        }
    }
}

.logo {

    height: 100%;
    background: url("../img/logo.png") no-repeat center center;
    background-size: cover;

    &-big {

        min-height: 100px;
        min-width: 100px;
    }
}

.socials {
    width: 120px;
    margin-right: 50px;
    display:flex;
    justify-content: space-between;
}

.fb:hover {
color: $fbColor;
}

.git:hover {
    color: $gitColor;
}

.linked:hover {
    color: $linkedColor;
}

.twitter:hover {
    color: $twitterColor;
}

.search-field {
    outline:none;
    border:none;
    border-bottom:1px solid lightgrey;

    &:focus {
        outline:none;
        border:none;
        border-bottom:1px solid darkgray;
        box-sizing: border-box;
    }

}
.navigation {
    display:flex;
    justify-content: space-between;

   &-item:hover {
       color: $primaryColor;
   }
}