main {
    grid-area: main;
    display: grid;
    grid-gap: 10px;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border:1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
    background-color: #fff;
    overflow: hidden;
    
    &:hover > .article-logo {
        transform: scale(1.1) translateY(-5%);
        cursor: pointer;
    }

    &-logo {

        height:40%;
        transition: all 0.5s;

    }
    &-name {
        
        margin: 10px;
        font-size:20px;
        color: $primaryColor;

        &:hover {
            cursor:pointer;
        }
    }

    &-date {
        margin: 10px 20px;
        text-align:right;
        font-size: 12px;
        font-style: italic;
    }

    &-content {
        margin: 10px 20px;
        height: 100px;
        line-height: 2;
        overflow-y:hidden;
        font-size:16px;
        text-align:justify;
    }

    &-bottom {
        margin:10px 20px 30px;
        display: flex;
        justify-content: space-between;
    }

    &-rating {
        color: rgb(255, 187, 0);
    }

    &-comments {
        font-family: "Arial", sans-serif;
        color: $secondaryColor;
        font-weight:bold;
    }  
}

