.wrapper {
    display:grid;
    grid-row-gap:20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-areas: "header header header"
                          "main  main  aside"
                          "main  main  aside"
                          "main  main  aside"
                          "main  main  aside"
                          "footer footer footer";
}